.row{
caption-side: bottom;
text-align: center;
padding: 0px 0; 
font-size: auto;
border: solid;
}
table{
border-collapse: separate; border-spacing: 10px;
}
   th { 
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td { 
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }